@page
@using AutomobileRent.Core.Models
@model AutoRent.FrontEnd.Pages.CombustionModel
@{
	ViewData["Title"] = "Combustion engine cars";
	Layout = "Shared/_Layout";
}

<table class="my-table">
    <tr class="my-table-row-headings">
        <th>ID</th>
        <th>Maker</th>
        <th>Model</th>
        <th>RentPrice</th>
        <th>FuelConsumption</th>
    </tr>
    @foreach (Combustion ce in Model.CombustionCars)
    {
        <tr class="my-table-row">
            <td>@ce.Id</td>
            <td>@ce.Maker</td>
            <td>@ce.Model</td>
            <td>@ce.RentPrice.ToString("F2") €</td>
            <td>@ce.FuelConsumption.ToString("F1") l/100km</td>
        </tr>
    }
</table>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Add new combustion engine car</h1>
    <p>Enter data to add a new car to the list</p>
</div>

<br>

<form>
    <label for="maker">Enter car maker:</label><br>
    <input type="text" id="maker" maker="maker"><br><br>
    <label for="model">Enter car model:</label><br>
    <input type="text" id="model" model="model"><br><br>
    <label for="rentPrice">Enter car rent price per day:</label><br>
    <input type="text" id="rentPrice" rentPrice="rentPrice"><br><br>
    <label for="fuelConsumption">Enter car fuel consumption (l/100km):</label><br>
    <input type="text" id="fuelConsumption" fuelConsumption="fuelConsumption"><br><br>
    <br>
    <input type="submit">

</form>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Update combustion engine car data</h1>
    <p>Enter data to update a car from the list</p>
</div>

<br>

<form>
    <label for="maker">Enter car maker:</label><br>
    <input type="text" id="maker" maker="maker"><br><br>
    <label for="model">Enter car model:</label><br>
    <input type="text" id="model" model="model"><br><br>
    <label for="rentPrice">Enter car rent price per day:</label><br>
    <input type="text" id="rentPrice" rentPrice="rentPrice"><br><br>
    <label for="fuelConsumption">Enter car fuel consumption (l/100km):</label><br>
    <input type="text" id="fuelConsumption" fuelConsumption="fuelConsumption"><br><br>
    <br>
    <input type="submit">

</form>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Delete combustion engine car from the list</h1>
    <p>Enter car Id you want to delete</p>
</div>

<br>

<form>
    <label for="carId">Enter car Id:</label><br>
    <input type="text" id="carId" carId="carId"><br><br>
</form>